.card {
  width: 12rem;
  height: 16rem;
  border-radius: 1rem; 

  &__container {
    height: 100%;
    width: 100%;
    position: relative;
    perspective: 50rem;

    &--front,
    &--back {
      transition: all .7s ease-out;
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0px .2rem .6rem #000;
      border: 1px solid #000;
    }
  
    &--front {
      display: flex;
      justify-content: center;
      background: #fff;
      transform: rotateY(180deg);
      box-shadow: inset 0 0 2rem 1px #000;
    }

    &--img {
      height: 90%;
    }
    
    &--back {
      background: linear-gradient(53deg, #00008b 50%,#000 50%);
      transform: rotateY(0);
      backface-visibility: hidden;

      &::before {
        content: 'Space Memory';
        position: absolute;
        font-size: 1.4rem;
        color: rgb(0, 201, 0);
        transform: rotate(53deg) translate(40%, 70%);
        text-align: center;
      }
    }

    &:hover {

      .card__container--back {
        transform: rotateY(-180deg);
      }
  
      .card__container--front {
        transform: rotateY(0);
      }
    }
  }
}